@font-face {
  font-family: "Golos Text";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src:
    local("Golos Text"),
    local("GolosText-Regular"),
    url("~/assets/fonts/GolosText-Regular.woff2") format("woff2"),
    url("~/assets/fonts/GolosText-Regular.woff") format("woff");
}

@font-face {
  font-family: "Golos Text";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src:
    local("Golos Text Medium"),
    local("GolosText-Medium"),
    url("~/assets/fonts/GolosText-Medium.woff2") format("woff2"),
    url("~/assets/fonts/GolosText-Medium.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Golos Text", Arial, sans-serif;
  background-color: $white;
  color: $dark;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 0 60px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
