@use "sass:map";
@use "sass:meta";

$breakpoints: (
  xs: 420px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@function breakpoint($point) {
  @if meta.type-of($point) == "number" {
    @return $point;
  }

  $value: map.get($breakpoints, $point);

  @if $value == null {
    @error 'Unknown breakpoint: #{$point}';
  }

  @return $value;
}

@mixin media($point) {
  @media (max-width: breakpoint($point)) {
    @content;
  }
}
